[Unit]
Description=My Ansible Playbook
After=network.target

[Service]
Type=oneshot
WorkingDirectory= /usr/local/share/ansible-container/examples/ansible
ExecStart=ansible-playbook {{ playbook_name }}
User=root

[Install]
WantedBy=multi-user.target

