[Unit]
Description=My Ansible Playbook
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/hash/test
ExecStart=ansible-playbook  test.yaml
User=root

[Install]
WantedBy=multi-user.target

