[Unit]
Description=My Ansible Playbook
After=network.target

[Service]
Type=oneshot
WorkingDirectory={{ playbook_path }}
ExecStart=ansible-playbook -vvv {{ ansible_playbook_basename }} --extra-vars 'reboot_mode=auto'
User=root

[Install]
WantedBy=multi-user.target

