[Unit]
Description=My Ansible Playbook
After=network.target

[Service]
Type=oneshot
WorkingDirectory={{ ansible_working_dir }}
ExecStart=ansible-playbook {{ ansible_exec_start }}
User=root

[Install]
WantedBy=multi-user.target
